body {
  font-family: "Rubik", sans-serif;
  background-color: var(--bg-color-primary);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}

.page-body {
  /* opacity: 0.5; */
  background-image: linear-gradient(
    90deg,
    var(--bg-color-primary),
    var(--bg-color-secondary),
    var(--bg-color-primary),
    var(--bg-color-secondary),
    var(--bg-color-primary),
    var(--bg-color-secondary),
    var(--bg-color-primary),
    var(--bg-color-secondary),
    var(--bg-color-primary),
    var(--bg-color-secondary),
    var(--bg-color-primary),
    var(--bg-color-secondary)
  );
}

.small {
  font-weight: 300;
  font-style: italic;
}

/* --- UTILITY --- */

.text-bold {
  font-weight: bold;
}

.ul-style-none {
  list-style-type: none;
  padding-left: 0;
  font-size: 0.85rem;
}

/*  --- NAVBAR --- */
/* .navbar,
.navbar-light .navbar-brand,
#navbar-container {
  background-color: var(--bg-color-primary);
  color: var(--text-primary);
} */

/* SPLASH PAGE JUMBOTRON */
/* --- START --- */
#jumbo-anchor-element {
  position: relative;
}

.jumbo-positioner {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 80%;
  /* padding: 35vh 0 0 0; */
}

.jumbo-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.jumbo-content {
  display: block;
  font-size: 1.25rem;
  text-shadow: 0px 0px 30px var(--bg-color-secondary);
}

/* BACKGROUND SLIDESHOW CSS */
/* --- START --- */

#splash {
  max-height: 80vh;
  background-color: var(--bg-color-primary);
}

.back-full-container {
  display: flex;
  overflow: hidden;
}

.back-container {
  overflow: hidden;
  /* The image height times 3 */
  /* height: 84vh; */
}

.sliding-background-up {
  background: repeat-y;
  background-size: auto;
  opacity: 0.3;
  height: 11013px; /* The image height times 3 */
  max-width: 250px;
  min-width: 250px;
  animation: bgSlideUp 120s linear infinite;
}

.sliding-background-down {
  background: repeat-y;
  background-size: auto;
  opacity: 0.3;
  height: 11013px; /* The image height times 3 */
  max-width: 250px;
  min-width: 250px;
  animation: bgSlideDown 120s linear infinite;
}

.sliding-background-down:hover,
.sliding-background-up:hover {
  opacity: 0.7;
}

@keyframes bgSlideUp {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -3671px, 0); /* The image height */
  }
}

@keyframes bgSlideDown {
  0% {
    transform: translate3d(0, -3671px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0); /* The image height */
  }
}

/* ---  END  --- */
/* BACKGROUND SLIDESHOW CSS */

/* MODAL */
.modal-content {
  background-color: var(--bg-color-secondary);
  color: var(--text-primary);
}

/* END MODAL */

/* OVERRIDE BOOTSTRAP */
#navbar-container {
  /* background-color: transparent; */
  background-color: var(--bg-color-primary-50);
  min-height: 10vh;
  /* box-shadow: 0px 20px 15px 10px rgba(255, 255, 255, 1); */
}

#navbar-container .nav-link,
#navbar-container .navbar-text {
  color: rgba(255, 255, 255, 1);
}

#navbar-container .container a:hover {
  background-color: var(--bg-color-primary-70);
  border-radius: 8px;
}

.list-group {
  background-color: var(--bg-color-primary);
  width: 100%;
}

.list-group-item {
  background-color: var(--bg-color-primary);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item.active {
  background-color: var(--bg-color-button-selected);
  border-color: white;
  border-width: 3px 3px 3px 3px;
}

#footer {
  background-color: transparent;
  text-align: right;
  min-height: 8vh;
  /* box-shadow: 0px -20px 15px 10px rgba(255, 255, 255, 1); */
}

/* media queries */
