:root {
  /* color pallete 1 - crimson */
  --bg-color-primary: #161a1d;
  --bg-color-secondary: rgba(102, 7, 9, 0.7);
  --bg-color-button: #b1a7a6ff;
  --bg-color-button-selected: rgba(102, 7, 9, 0.7);
  --bg-color-button-highlighted: rgba(102, 7, 9, 0.7);
  --text-primary: #f5f3f4;
  --text-secondary: #161a1dff;
}
