:root {
  /* color pallete 1 - crimson */
  --bg-color-primary: #161a1d;
  --bg-color-secondary: rgba(102, 7, 9, 0.7);
  --bg-color-list: rgb(42, 42, 42);
  --bg-color-button: #b1a7a6ff;
  --bg-color-button-selected: rgba(28, 28, 28, 0.7);
  --bg-color-button-highlighted: rgba(28, 28, 28, 0.7);
  --text-primary: #f5f3f4;
  --text-secondary: #161a1dff;
  --bg-color-primary-50: #181c1f7e;
  --bg-color-primary-70: #181c1fae;
  width: 100%;
  height: 100%;
}

[data-theme="pink"] {
  /* color pallete 2 - neon pink */
  --bg-color-primary: #161a1d;
  --bg-color-secondary: rgb(255, 101, 201);
  --bg-color-list: rgb(42, 42, 42);
  --bg-color-button-selected: rgba(28, 28, 28, 0.7);
  --bg-color-button-highlighted: rgba(28, 28, 28, 0.7);
  --text-primary: #f5f3f4;
  --text-secondary: #161a1dff;
  --bg-color-primary-50: #181c1f7e;
  --bg-color-primary-70: #181c1fae;
  width: 100%;
  height: 100%;
}

[data-theme="purple"] {
  /* color pallete - neon purple */
  --bg-color-primary: #161a1d;
  --bg-color-secondary: rgba(150, 70, 255, 0.7);
  --bg-color-list: rgb(42, 42, 42);
  --bg-color-button-selected: rgba(28, 28, 28, 0.7);
  --bg-color-button-highlighted: rgba(28, 28, 28, 0.7);
  --text-primary: #f5f3f4;
  --text-secondary: #161a1dff;
  --bg-color-primary-50: #181c1f7e;
  --bg-color-primary-70: #181c1fae;
  width: 100%;
  height: 100%;
}

[data-theme="blue"] {
  /* color pallete 4 - neon blue */
  --bg-color-primary: #161a1d;
  --bg-color-secondary: rgba(48, 165, 255, 0.7);
  --bg-color-list: rgb(42, 42, 42);
  --bg-color-button-selected: rgba(28, 28, 28, 0.7);
  --bg-color-button-highlighted: rgba(28, 28, 28, 0.7);
  --text-primary: #f5f3f4;
  --text-secondary: #161a1dff;
  --bg-color-primary-50: #181c1f7e;
  --bg-color-primary-70: #181c1fae;
  width: 100%;
  height: 100%;
}

[data-theme="green"] {
  /* color pallete 4 - neon blue */
  --bg-color-primary: #161a1d;
  --bg-color-secondary: rgba(48, 255, 114, 0.7);
  --bg-color-list: rgb(42, 42, 42);
  --bg-color-button-selected: rgba(28, 28, 28, 0.7);
  --bg-color-button-highlighted: rgba(28, 28, 28, 0.7);
  --text-primary: #f5f3f4;
  --text-secondary: #161a1dff;
  --bg-color-primary-50: #181c1f7e;
  --bg-color-primary-70: #181c1fae;
  width: 100%;
  height: 100%;
}

[data-theme="yellow"] {
  /* color pallete 4 - neon blue */
  --bg-color-primary: #161a1d;
  --bg-color-secondary: rgba(255, 248, 59, 0.7);
  --bg-color-list: rgb(42, 42, 42);
  --bg-color-button-selected: rgba(28, 28, 28, 0.7);
  --bg-color-button-highlighted: rgba(28, 28, 28, 0.7);
  --text-primary: #f5f3f4;
  --text-secondary: #161a1dff;
  --bg-color-primary-50: #181c1f7e;
  --bg-color-primary-70: #181c1fae;
  width: 100%;
  height: 100%;
}
